/* default theme use ios.css */
#afui {
    color:black;
}

#afui  .header { 
    background-color:#889BB3;
    background-image:-ms-linear-gradient(top, #B3BECD 0%, #889BB3 50%, #6E84A2 51%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #B3BECD), color-stop(.5, #889BB3), color-stop(.51, #6E84A2));
    background-image:-webkit-linear-gradient(top, #B3BECD 0%, #889BB3 50%, #6E84A2 51%);
    background-image:linear-gradient(to bottom, #B3BECD 0%, #889BB3 50%, #6E84A2 51%);
    border: 1px solid;
    border-color:#CCD2DA transparent #2D3033 transparent;
    color:white;
} 

#afui .header h1 {
    text-shadow: rgba(0,0,0,0.8) 0 -1px 0;
}

#afui .af-badge {
    border:2px solid #fff;
    box-shadow:0 1px 2px #555;
    line-height:18px;
}
#afui .panel, #afui #modalContainer {
    background:#e7e7e7;
}

#afui .panel h2 { color:inherit;}

#afui  .footer {
    background-color:#000;
    background-image:-ms-linear-gradient(top, #222 0%, #111 50%, #000 51%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #111), color-stop(.51, #000));
    background-image:-webkit-linear-gradient(top, #222 0%, #111 50%, #000 51%);
    background-image:linear-gradient(to bottom, #222 0%, #111 50%, #000 51%);
    box-shadow:0 1px 0 #555 inset;
   
    border-top:1px solid #000;
}

#afui .footer>footer>a.pressed:not(.button) {
    background:rgba(255, 255, 255, 0.13);
    border-radius:6px;
}

#afui .footer>footer>a.icon.pressed:not(.button):before {
    color:#3a9de2;
}

#afui > #aside_menu,
#afui > #menu.tabletMenu {
   border-right:none;
    background:#000;
    color:#fff;
}

#afui #backButton {
    background:rgba(249,249,249,1);
    color:#fff;
    display: block;
    position: absolute;
    line-height:44px;
    left: 25px;
    text-overflow: ellipsis;
    font-size: 14px;
    padding:0;
    text-shadow: none;
    background-color: transparent;
    border:none;
    border-color:transparent;
    height: 44px;
    top:0;
    border-radius:0;
    box-shadow:none;
    margin: 0;
    padding-left: 0;
    text-align: center;
    width:50px;
    padding:0 !important;
    margin:0 !important;
}

#afui #backButton::before {
    z-index: -1;
    font-size:22px;
    position: absolute;
    top: 10px;
    left: -20px;
    text-align: center;
    border-radius:0;
    border: none;
    border-color:transparent;
    box-shadow: none;
    -webkit-transform: none;
    transform: none;
    font-family: 'chevron';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f054";
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    background-color: transparent;
}

#afui .header .button {
    color:#fff;
    text-shadow:0 -1px 0 #333;
    background-color:#476999;
    border:1px solid #375073;
    box-shadow:0 1px 0 #9CABC0;
    background-image:linear-gradient(to bottom, #9CABC0 0%, #6E84A2 50%, #476999 51%);
}

#afui .header .button.pressed {
    background-image:linear-gradient(to bottom, #6E84A2 0%, #476999 50%, #274979 51%);
}

#afui .footer .button {
    color:#fff;
    text-shadow:0 -1px 0 #333;
    background-color:#444;
    border:1px solid #222;
    box-shadow:0 1px 0 #222;
    background-image:linear-gradient(to bottom, #555 0%, #333 50%, #111 51%);
}

#afui .footer .button.pressed {
    background-image:linear-gradient(to bottom, #444 0%, #222 50%, #000 51%);
}

#afui #aside_menu .list li, 
#afui #aside_menu .list .divider, 
#afui #aside_menu .list li:first-child, 
#afui #aside_menu  .list li:last-child,
#afui #menu .list li, 
#afui #menu .list .divider, 
#afui #menu .list li:first-child, 
#afui #menu  .list li:last-child {
    border-color:#101012;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
}

#afui #aside_menu .list > li > a,
#afui #menu .list > li > a {
    color:#ccc;   
}

#afui #aside_menu .list .divider,
#afui #menu .list .divider {
    background:#333;
    color:#fff;   
}

#afui .afPopup {
    border: solid 2px #fff;
    -webkit-box-shadow: 0px 4px 6px #555, 0 0 20px rgba(0,0,0,0.5);
    -webkit-border-radius: 10px;
    border-radius:10px;
    padding: 0;
    background: #1b294b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#626c82), to(#1b294b));
}

#afui .afPopup >* {
    color:white;
}

#afui .afPopup>HEADER{
    font-weight:bold;   
    text-align:center;
    text-shadow:0 -1px #000;
    padding:5px;
}

#afui .afPopup>DIV{
    text-align:center;
}

#afui .afPopup>FOOTER>A{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#626c82), to(#1b294b));
    color:white;
}

#afui .afPopup>FOOTER>A#cancel{
    width:120px;
    margin-left:10px;
}

#afui .afPopup>FOOTER>A#action{
    width:120px;
    margin-right:10px;
}

#afui .afPopup>FOOTER>A.center{
    float:none!important;
    width:95%!important;
    margin:8px!important;
}

#afui #af_actionsheet {
    background:#595c61;
    color:inherit;
}

#afui #af_actionsheet a{
    border-radius:10px;
    -webkit-border-radius:10px;
    border:3px solid #111;
    background:#eee;
    background: linear-gradient(to bottom, #fff 0%,#ccc 100%);
    color:#111;
    text-shadow:0 1px 0 #fff;
}

#afui #af_actionsheet a.cancel{
    background:#333;
    background: linear-gradient(to bottom, #666 0%,#333 100%);
    color:white;
    text-shadow:0 -1px 0 #000;
}

#afui #af_actionsheet a.red{
    background:#d11;
    background: linear-gradient(to bottom, #d55 0%,#d11 100%);
    color:white;
    text-shadow:0 -1px 0 #000;
}