<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"   
    xmlns:context="http://www.springframework.org/schema/context"   
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
                     http://www.springframework.org/schema/tx   
                     http://www.springframework.org/schema/tx/spring-tx.xsd   
                     http://www.springframework.org/schema/context     
                     http://www.springframework.org/schema/context/spring-context.xsd   
                     http://www.springframework.org/schema/aop   
                     http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="infEa"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>com.app.ea.api.InfEa</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>deleteMethodPointcutAdvisor</value>
				<value>timeMethodPointcutAdvisor</value>
			</list>
		</property>
		<property name="target">
			<ref bean="impEa" />
		</property>
	</bean>
	<bean id="timeMethodPointcutAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
	    <property name="advice">    
            <ref bean="timeMethodInterceptor"/>    
        </property>	    
	    <property name="patterns">
	        <list>
	           <value>.*getAllUser</value>
	           <value>.*getUserbyAccount</value>
	        </list>
	    </property>
	</bean>
	<!-- 拦截删除用户的操作，将用户的role全部删除 -->
	<bean id="deleteMethodPointcutAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
	    <property name="advice">    
            <ref bean="deleteMethodInterceptor"/>    
        </property>	    
	    <property name="patterns">
	        <list>
	           <value>.*deleteUser</value>
	        </list>
	    </property>
	</bean>
</beans>
